/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

// card
$card-border-color: $light-gray;

// icon color
$youtube-color:#f11502;
$facebook-color: #4177f2;
$instagram-color: #da2e6a;


