// 宣告樣式變數
$form-white: #fff;
$form-light-gray: #a7aaaf;
$form-dark-gray: #4a4a4a;
$form-light-blue: #3c88fd;
$form-invalid: #747474;
$form-border: 1px solid $form-light-gray;
$form-scrollbar-width: 10px;
$form-scrollbar-bg: rgba(0, 0, 0, 0.1);



// 宣告樣式類別
%input-style {
  border: $form-border;
  border-radius: 0.3125rem;
  font-size: 1rem;
  padding: 0.5rem;

  // 內層與其父元素: .form-row
  &:hover,
  &:focus {
    border-color: $form-dark-gray;
  }
}

%select-style {
  // 概略外觀
  width: 100%;
  background-color: transparent;

  // 細部設計
  @extend %input-style;
  cursor: pointer;
  -webkit-appearance: none; // 取消 select 預設樣式, 若取消時需要自己加回三角形箭頭

  // 內層與其父元素: .select-wrapper 或 .form-row
  &:invalid {
    // 搭配 required 屬性, select 無效時的樣式, option:disabled
    color: $form-invalid;
  }
}

%select-triangle {
  // 概略外觀
  // 內層與其父元素: .form-row
  &::after {
    // position
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    z-index: -1;

    // 細部設計
    // content: "\25BE"; // 預設箭頭
    content: ""; // \自製箭頭
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: $form-light-gray transparent transparent transparent; // 三角形 
  }
}



// =========== form: 通用樣式設計 start ==============
form {
  // 概略外觀
  // 內層與其父元素:任意
  .form-row {
    // 容器排版
    display: flex;
    flex-direction: row;
    align-items: center;

    // 細部設計
    margin-bottom: 1.5rem;

    // 內層與其父元素: .form-row
    >label {
      // 與父元素直接接觸的 label
      // 概略外觀
      display: block;

      // 細部設計
      margin-right: 0.5rem;
      font-weight: 500;
    }



    // 內層與其父元素: .form-row
    input {
      // 設定 input 通用樣式
      // 細部設計
      @extend %input-style;

      // 內層與其父元素: .form-row
      &[type="checkbox"],
      &[type="radio"] {
        // 細部設計
        cursor: pointer;

        // 內層與其父元素: .form-row
        ~label {
          // 同層選擇器, 後面同一層的元素
          display: inline-block;
          font-weight: normal;
          margin: 0;
        }
      }
      


      // 內層與其父元素: .form-row
      &[type="checkbox"] {
        // position
        position: relative;

        // 細部設計
        -webkit-appearance: none; // 取消瀏覽器預設樣式
        border-radius: 3px;

        // 內層與其父元素: .form-row
        &:checked {
          // 概略外觀
          background-color: $form-light-blue;

          // 細部設計

          // 內層與其父元素: .form-row
          &::after {
            // 概略外觀
            position: absolute;
            top: 0;
            left: 4px;

            // 細部設計
            content: "\2714";
            font-size: 0.6rem;
            color: $form-white;
          }
        }

        // 內層與其父元素: .form-row
        &:focus {
          border-color: $form-light-gray;
        }

        // 內層與其父元素: .form-row
        &:hover {
          border-color: $form-dark-gray;
        }

        // 內層與其父元素: .form-row
        ~label {
          // 同層選擇器, 後面同一層的元素
          margin-right: 1.5rem;
        }
      }



      // 內層與其父元素: .form-row
      &[type="radio"] {
        -webkit-appearance: none;
        border-radius: 50%;

        // 內層與其父元素: .form-row
        &:checked {
          box-shadow: inset 0 0 0 5px $form-light-blue;
        }

        // 內層與其父元素: .form-row
        ~label {
          // 同層選擇器, 後面同一層的元素
          margin-right: 1.5rem;
        }
      }



      // 內層與其父元素: .form-row
      &[type="date"] {
        cursor: pointer;

        // 內層與其父元素: .form-row
        &:invalid {
          color: $form-invalid;
        }
      }



      // 內層與其父元素: .form-row
      &[type="number"] {
        width: 6.4rem;
        text-align: center;
      }
    }



    // 內層與其父元素: .form-row
    select {
      // 下拉式選單: 沒有 div.select-wrapper 的情況
      // 概略外觀
      width: 23%;

      // 細部設計
      @extend %select-style;
    }



    // 內層與其父元素: .form-row
    .select-wrapper {
      // 下拉式選單: 補足 select本身不能使用偽纇
      // 概略外觀
      width: 23%;
      min-width: 150px;

      // position
      position: relative;
      z-index: 0;

      // 細部設計
      @extend %select-triangle;

      // 內層與其父元素: .select-wrapper
      select {
        @extend %select-style;
      }
    }



    // 內層與其父元素:.form-row
    .datalist-wrapper {
      // 可輸入文字的下拉式選單: 沿用.select-wrapper的作法
      // 概略外觀
      width: 23%;
      min-width: 150px;

      // position
      position: relative;
      z-index: 0;

      // 細部設計
      @extend %select-triangle;

      // 內層與其父元素: .datalist-wrapper
      input[list],
      datalist {
        @extend %select-style;
        cursor: text;

        // 內層與其父元素: .datalist-wrapper
        &::-webkit-calendar-picker-indicator {
          display: none !important;
        }
      }
    }



    // 內層與其父元素: .form-row
    textarea {
      // 多行文字輸入選項
      // 概略外觀
      width: 50%;
      max-width: 100%;

      // 細部設計
      resize: none;
      @extend %input-style;
      // @include tools.getScrollbar; // 設定卷軸樣式
      overflow-y: scroll; // 設定卷軸

      // 內層與其父元素: .form-row
      &::-webkit-scrollbar {
        width: $form-scrollbar-width;
      }

      // 內層與其父元素: .form-row
      &::-webkit-scrollbar-thumb {
        border-radius: $form-scrollbar-width*0.5;
        background-color: $form-scrollbar-bg;
      }
    }
  }



  // 內層與其父元素: 任意
  .btn {
    // 按鈕樣式
    // 概略外觀
    height: 2rem;

    // 細部設計
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 1rem;
    box-shadow: 1px 1px 5px #a6a6a6;

    
    // 內層與其父元素: 任意
    &[disabled] {
      // 按鈕失效屬性樣式
      opacity: 0.5;
    }

    // 內層與其父元素: 任意
    &.btn-primary {
      // 按鈕下一步樣式
      color: $form-white;
      background-color: $form-light-blue;
    }

    // 內層與其父元素: 任意
    &.btn-outline {
      // 按鈕上一部樣式
      color: $form-dark-gray;

      // 內層與其父元素: 任意
      &:hover {
        box-shadow: 1px 1px 5px $form-dark-gray;
      }
    }
  }
}